h1{
    margin: auto;
    width: 300px;
    background-color: aquamarine;
}
.p1{
    padding: 25px 50px;
    background-color: aquamarine;
}
.p2{
    padding: 50px;
    background-color: aquamarine;
}